{
  "RUN_POLL_INTERVAL_MS": ${RUN_POLL_INTERVAL_MS},
  "ALERT_POLL_INTERVAL_MS": ${ALERT_POLL_INTERVAL_MS},
  "CONFIDENCE_HIGH_MIN": ${CONFIDENCE_HIGH_MIN},
  "CONFIDENCE_MEDIUM_MIN": ${CONFIDENCE_MEDIUM_MIN}
}
